@using PlanetDotnet.Views.Bases.Styles
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" dir="@Direction">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                @Left
            </a>
        </div>
        <div class="navbar-collapse navbar-right">
            @Right
        </div>
    </div>
</nav>

<StyleBase Style="@Styles" />