@page "/"
@using PlanetDotnet.Views.Components.LanguageComponents
@using PlanetDotnet.Views.Components.PageContainers
@using PlanetDotnet.Views.Components.WelcomeComponents
<PageContainer>
    <Body>
        <WelcomeComponent />
    </Body>
</PageContainer>