@page "/preview"
@using PlanetDotnet.Views.Components.PageContainers
@using PlanetDotnet.Views.Components.PreviewComponents

<PageContainer>
    <Body>
        <PreviewItemsComponent />
    </Body>
</PageContainer>