@page "/"
@inject HttpClient Http
 <h1>Hello, world!</h1>

@message

@code{
    private string message;

    protected override async Task OnInitializedAsync()
    {
        message = await Http.GetStringAsync("home");
    }
}