@using PlanetDotnet.Views.Bases.Headers
@inherits LayoutComponentBase
<HeaderBase>
    <Left>
        <div class="navbar-brand-title">Planet .NET</div>
    </Left>
    <Right>
        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/authors">Authors</a></li>
            <li><a href="/feed"><i class="fa fa-rss" aria-hidden="true"></i> <span id="rssText">RSS Feed</span></a></li>
            <li><a href="https://twitter.com/PlanetXamarin"><i class="fa fa-twitter" aria-hidden="true"></i> <span id="twitterText">Twitter</span></a></li>
            <li><a href="https://www.facebook.com/planetxamarin/"><i class="fa fa-facebook" aria-hidden="true"></i> <span id="facebookText">Facebook</span></a></li>
        </ul>
    </Right>
</HeaderBase>

@Body
