<hr />
<footer>
    <p>Do you blog about .NET? Add yourself to the aggregator by sending in a <a href="https://github.com/mabroukmahdhi/planetdotnet">pull-request to our repository</a> on GitHub. Planet .NET is not affiliated with Microsoft and is a open-source project maintained by the community for the community.</p>
</footer>