<select value="@currentCulture" @onchange=@CultureChanged>
    <option value="en">
        English
    </option>
    <option value="ar">
        العربية
    </option>
    <option value="fr">
        Français
    </option>
    <option value="de">
        Deutsch
    </option>
</select> 